
#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 2% 17% 7%;
}

h1 {  
    font-family: 'Monserrat', sans-serif;  
    font-size: 3rem;  
    line-height: 1.5;  
    font-style: bold;
    font-weight: 900;
}

h2 {
    font-family: 'Monserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-family: 'Monserrat', sans-serif;  
    font-size: 1.5rem;  
    line-height: 1;  
    font-weight: 700;
}

/* NAVIGATION */
.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 18px; 
}

.nav-link {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: lightslategray;
}


.btn-spacing-new {
    margin: 5% 3% 5% 0;
}

.title-image {
    transform: rotate(15deg);
    position: absolute;
    height: 80%;
    right:25%
}

/* FEATURES */
.icon {
    color: #ef8172;
    padding-bottom: 1.2rem;
}

.icon:hover{
    color: #ff4c68
}
#features {
    padding: 7% 15% ;
    background-color: white;
    position: relative;
    z-index: 1
}

.feature-box{
    text-align: center;
    padding: 5%;

}

/* TESTIMONAL */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 15px
}


/* Carousel*/
.carousel-item{
    padding: 7% 15%;
}

#pricing {
    text-align: center;
    padding: 100px 150px 80px
}

/* add more space between the stuffs */
.pricing-col {
    padding: 3% 3%
}



/* CTA SECTION */
#cta {
    text-align: center;
    padding: 100px;
    background-color: #ff4c68 ;
}

.cta-h3{
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 4rem;
    padding:0 20% 3%
}

#footer {
    text-align: center;
    padding: 80px 100px;
}


/* MEDIA QUERY */
@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}