#title {
    background-color: #ff4c68;
}

.container-fluid{
    padding: 2% 15%;
}

h1 {  
    font-family: 'Monserrat', sans-serif;  
    font-size: 3rem;  
    line-height: 1.5;  
    font-style: italic;
    font-weight: 900;
}


.rotate {
    transform: rotate(15deg);
  }
